<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            <p>Add your projects and spent times!</p>
             <p>
            <a href="/freelancer/new" class="btn btn-primary btn-lg">Register as Freelancer!</a>
        </p>
        </div>
    </header>
</div>




<% include ./partials/footer %>