<% include partials/header %>
<div class="container">
    <div clas="row">
        <h1 class="centerHeader">Register as a Freelancer!</h1>
        <div class="mainDiv">
            <form method="POST", action="/freelancer">
                <div class="form-group">
                    <input class="form-control" value="<%= currentUser.username%>">
                </div>
                <div class="form-group">
                    <input class="form-control"type="text" name="image" placeholder="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary" type="submit">
                </div>
            </form>
            </div>
        
    </div>
</div>
<% include partials/footer %>